@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #4B5919, #7B8C3B);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2700009d;
    width: 600px;
    padding: 10px; 
    margin: auto;
}

h1 {
    color: #400101;
    text-align: center;
    text-shadow: 1px 1px 2px #2c01019a;
}

h2 {
    color: #7B8C3B;
}

p {
    text-align: justify;
}